.container {
  position: absolute;
  top: 30%;
  left: 10px;
}

.buttons {
  margin-top: 2rem;
}

.container h2 {
  font-size: 2rem;
}

.container a {
  font-size: 1.4rem;
}

.backButton {
  float: left;
  margin-right: 10px;
  margin-top: 4px;
}

.floatLeft {
  float: left;
  width: 50%;
}

.floatRight {
  float: right;
  width: 50%;
}

.pieCharts {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.tableInfo {
  margin-top: 20px;
}

.pageInfo {
  margin-left: 10px;
}
