.container {
  position: absolute;
  top: 30%;
  left: 10px;
}

.buttons {
  margin-top: 2rem;
}

.container h2 {
  font-size: 2rem;
}

.container a {
  font-size: 1.4rem;
}

.backButton {
  top: 10px;
  left: 10px;
  display: inline-block;
}

.textfield {
  margin: 15px 10px 0 10px;
}
